@{
    ViewBag.Title = "Our journey";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Minerva Books Publishing House was founded in 1992. Conceived as a US-based general publishing house with an international focus, Minerva Bookstore has grown to become corporate group with more than 500 employees offering a wide range of services in the Business-to-Business and Business-to-Consumer markets. Minerva bookstore is solely owned by the second grandfather of Quincy's family. The company has offices in the US, Europe (UK, Netherlands, Sweden) and Asia (Japan, Thailand, India). The company’s list of books includes scientific and scholarly literature, fiction and nonfiction as well as children’s and teenager’s books. In 2016, the Minerva bookstore has over 1500 books which are located in headquarter branch in Fairfax, Virginia in the United States.
</p>
